.GameOver h1{
    font-size: 4rem;
    margin-bottom: 1rem;
    animation: jump .45s alternate infinite;
}

.GameOver h2 > span{
    color: #ecfa00;
}

@keyframes jump{
    0%{
        transform: translateY(0px);
        color: #ecfa00;
    }
    100%{
        transform: translateY(-20px);
    }
}

@media screen and (max-width: 700px){
    .GameOver h1{
        font-size: 3.5rem;
    }
}