.Start h1{
    color: #ecfa00;
    text-transform: uppercase;
    text-shadow: 3px 3px 1px black;
    font-size: 3.5rem;
    margin-bottom: 1rem;
    border-bottom: 2px dashed black;
    animation: anima .5s alternate-reverse infinite;
}

.Start h3{
    animation: anima .5s alternate-reverse infinite;
}

@keyframes anima {
    0%{
        transform: translateY(5px);
    }
    100%{
        transform: translateY(-10px);
    }
}